@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #152347; /* 接近示例的深蓝背景 */
}

html, body, #__next {
  height: 100%;
}

body {
  @apply antialiased;
  background: var(--bg);
}

/* 滑块样式微调 */
input[type="range"] {
  accent-color: #2563eb; /* tailwind blue-600 */
}